<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Dasta Short URL POC</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<h1 th:text="'Please enter Full URL below:'" />
		<form th:object="${formData}" th:action="@{/shorturl}" method="post">
			<div>
				<label for="url">Enter URL</label>
				<input id="url" type="text" th:field="*{url}">
				<p th:if="${#fields.hasErrors('url')}" th:text="${#strings.listJoin(#fields.errors('url'), ', ')}">
				</p>
			</div>
			<button type="submit">Create Short URL</button>
		</form>
	</body>
</html>